/*fonts
font-family: 'Codystar', cursive;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Arsenal', sans-serif;
*/

p{
  font-family: 'Georgia', serif;
  font-size: 18px;
}

/*////////////INDEX/////////*/
body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
}

#wrapper {
  width: 1280px;
  margin: 0px auto;
}

.orbit-image{
height: 800px;
width: 1200px;
}

.orbit-image:hover{
  opacity:1;
}

.orbit-bullets{
  float: none;
}


footer{
  text-align:center;
  font-size: 10px;
  padding-top: 10px;
}

.quote{
  text-align: center;
  font-family: 'Arsenal', sans-serif;
}

/*/////////////nav menu//////////////*/
a:link{color: black;}
a:visited{color: black;}

header{
    width: 1280px;
    margin-bottom: 30px;
    width: 100%;
    text-shadow: 1px 1px gray;
    /*background-color: black;*/
    border-radius: 0px 0px 0px 0px;


}

nav{
  float: left;
  overflow: hidden;
  font-family: 'Arsenal', sans-serif;
}

li{
  display: inline-block;
  text-color: black;
  text-align: center;
  font-size: 20px;
  transition: .2s ease-in-out;
  /*font-family: 'Quicksand', sans-serif;*/
  padding: 12px 12px;

}

li:hover {
  /*background-color: white;*/
  text-shadow: 1px 1px gray;
  color: black;
  opacity: 0.8;
}

h1{
  font-size: 40px;
  font-family: 'Codystar', cursive;
  font-weight: bold;
  text-shadow: 1px 1px gray;
  display: inline-block;
  -webkit-font-smoothing: subpixel-antialiased;
 margin-top:0px;
}

/* social media icons*/
/* Style all font awesome icons */
.fa {
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    padding: 16px 16px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.8;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    color: black;
}

/* Instagram */
.fa-instagram {
    color: black;
}

/* LinkedIn */
.fa-linkedin {
    color: black;
}

.RVBG .char1 {
color: red;
}
.RVBG .char3 {
color: blue;
}
.RVBG .char4 {
color: green;
}

/*//////////PORTFOLIO/////////*/
#graphics {
    background-image:url(../img/graphics/ikea1.png);
    background-repeat:no-repeat;
    background-position: right top;
    background-size: 475px;
    position: relative;
    border:1px solid #CCC;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    text-align: center;
}

#graphics:hover{
  color: white;
  opacity: 0.6;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

#limitless {
    background-image:url(../img/graphics/limitless/Father.jpg);
    background-repeat:no-repeat;
    background-position: bottom, right;
    background-size: 475px;
    position: relative;
    border:1px solid #CCC;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    text-align: center;
}

#limitless:hover{
  color: white;
  opacity: 0.6;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

#father {
    background-image:url(../img/graphics/limitless/Father.jpg);
    background-repeat:no-repeat;
    background-size: 150px;
    display:block;
    height:150px;
    transition: .2s ease-in-out;
    width:150px;
}

#july4 {
    background-image:url(../img/graphics/limitless/July4.jpg);
    background-repeat:no-repeat;
    background-size: 150px;
    display:block;
    height:150px;
    transition: .2s ease-in-out;
    width:150px;
}

#memorialposter {
    background-image:url(../img/graphics/limitless/MemorialSquare.jpg);
    background-repeat:no-repeat;
    background-size: 150px;
    display:block;
    height:150px;
    transition: .2s ease-in-out;
    width:150px;
}

#memorialflyer {
    background-image:url(../img/graphics/limitless/MemorialPoster.jpg);
    background-repeat:no-repeat;
    background-size: 150px;
    display:block;
    height:195px;
    transition: .2s ease-in-out;
    width:150px;
}


#projects {
    background-image:url(../img/graphics/calendar/JAS.jpg);
    background-repeat:no-repeat;
    background-position: left, bottom;
    background-size: 475px;
    position: relative;
    border:1px solid #CCC;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    text-align: center;
}

#projects:hover{
  color: white;
  opacity: 0.6;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

#clients {
    background-image:url(../img/graphics/clients/jessiecourt.png);
    background-repeat:no-repeat;
    background-position: -55px, 50px;
    background-size: 475px;
    position: relative;
    border:1px solid #CCC;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    text-align: center;
}

#clients:hover{
  color: white;
  opacity: 0.6;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

#photography {
    background-image:url(../img/graduation/grad2.jpg);
    background-repeat:no-repeat;
    background-position: -100px -40px;
    background-size: 475px;
    position: relative;
    border:1px solid #CCC;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    text-align: center;
}

#photography:hover{
  color: white;
  opacity: 0.6;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}


/*//////////ANIMATION/////////*/
#animation {
    background-image:url(../img/animation/1.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 475px;
    position: relative;
    border:1px solid #CCC;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    text-align: center;
}

#animation:hover{
  color: white;
  opacity: 0.6;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

#mariah {
    background-image:url(../img/animation/mariah.jpg);
    background-repeat:no-repeat;
    background-position: -100px -20px;
    background-size: 475px;
    position: relative;
    border:1px solid #CCC;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    text-align: center;
}

#mariah:hover{
  color: white;
  opacity: 0.6;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

/*//////////MARIAH CAREY KEYFRAMES/////////*/
.lyrics{
  margin-top: 25px;
  text-align: center;
}

.mariah1p{
  font-family: 'Allura', cursive;
  font-size: 30px;
}
.mariah1b{
  font-family: 'Allura', cursive;
  font-size: 30px;
  color: lightpink;
  text-shadow: 5px 5px .5;
  opacity: .7;
  position: absolute;
  margin-left: 5px;
  transition: all 1s ease-in-out;
}
.mariah1b:hover{
  font-family: 'Allura', cursive;
  position: absolute;
  font-size: 40px;
animation:pulse 1.5s linear infinite;
}

@keyframes pulse {        20% {opacity:0}
                          50% {opacity:1; }
                          60% {opacity:.0; }
                          80% {opacity:1; }
                          100%{opacity:0;}
                  }

.mariah2{
  font-family: 'Allura', cursive;
  font-size: 30px;
  color: lightpink;
  text-shadow: 5px 5px .5;
  opacity: .7;
  position: absolute;
  margin-left: 5px;
  transition: all 2s ease-in-out;
}

.mariah2:hover{
  position: relative;
  font-size: 40px;
  animation:move 4s infinite;
}

@keyframes move
{     0%   {left:0px; top:0px;}
    100% {left:0px; top:650px;}
                  }

.mariah3{
  font-family: 'Allura', cursive;
  font-size: 30px;
  color: lightpink;
  text-shadow: 5px 5px .5;
  opacity: .7;
  position: relative;
}

.mariah3p{
  font-family: 'Allura', cursive;
  font-size: 30px;
  color: black;
  position: relative;
  transition: all 1s, ease-in-out;
}

.mariah3:hover{
  position:absolute;
  font-size: 40px;
  animation-name: wrestle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes wrestle
{      0% {transform:rotate(0deg);
            left:100px; top:0px;}
      100% {transform:rotate(360deg);
              left:100px; top:0px;}
                  }
.mariah4{
  font-family: 'Allura', cursive;
  font-size: 30px;
  color: pink;
  margin-top:25px;
  transition: all 1s ease-in-out;
}

.mariah4:hover{
  position: relative;
  font-size: 40px;
  animation: bounce 2s infinite;
}

@keyframes bounce{
        0% {left:0px; top:0px;}
      25% {left:0px; top:30px;}
      50% {left:0px; top:-20px;}
      75% {left:0px; top:30px;}
      100% {left:0px; top:0px;}
    }


.mariahvid{
  float: center;
  margin-top: 25px;
}

/*////////SPRITE ANIMATION//////////*/
#sprite {
    background-image:url(../img/animation/1.jpg);
    background-repeat:no-repeat;
    background-position: middle bottom;
    background-size: 475px;
    position: relative;
    border:1px solid #CCC;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    text-align: center;
}

#sprite:hover{
  color: white;
  opacity: 0.6;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}
/*.spritecontainer{
  height: 400px;
  width: auto;
}*/

.spritesheet{
    background-image: url("../img/animation/cf sprite1000.jpg");
    padding-bottom:25px;
}
.spriteanimation{
    width: 250px;
    height: 167px;
    background-image: url("../img/animation/cf sprite1000.jpg");
    padding-bottom:25px;

    -webkit-animation: play .5s steps(4) infinite;
       -moz-animation: play .5s steps(4) infinite;
        -ms-animation: play .5s steps(4) infinite;
         -o-animation: play .5s steps(4) infinite;
            animation: play .5s steps(4) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}

.snorlaxspritesheet{
    background-image: url("../img/animation/snorlaxsprite.png");
}

.snorlaxanimation{
  margin-left: 80px;
    width: 81px;
    height: 87px;
    background-image: url("../img/animation/snorlaxsprite.png");

    -webkit-animation: plays .8s steps(9) infinite;
       -moz-animation: plays .8s steps(9) infinite;
        -ms-animation: plays .8s steps(9) infinite;
         -o-animation: plays .8s steps(9) infinite;
            animation: plays .8s steps(9) infinite;
}

@-webkit-keyframes plays {
   from { background-position:    0px; }
     to { background-position: -729px; }
}

@-moz-keyframes plays {
   from { background-position:    0px; }
     to { background-position: -729px; }
}

@-ms-keyframes plays {
   from { background-position:    0px; }
     to { background-position: -729px; }
}

@-o-keyframes plays {
   from { background-position:    0px; }
     to { background-position: -729px; }
}

@keyframes plays {
   from { background-position:    0px; }
     to { background-position: -729px; }
}

/*///////////////TRANSITIONS///////////////*/

#transitions {
    background-image:url(../img/ss1.jpg);
    background-repeat:no-repeat;
    background-position: -100px -20px;
    background-size: 475px;
    position: relative;
    border:1px solid #CCC;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    text-align: center;
}

#transitions:hover{
  color: white;
  opacity: 0.6;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.description{
  font-family: "Georgia", serif;
  font-size: 12px;
  text-align: center;
  margin-top: 25px;
}

.grow{
  text-align: center;
  font-family: "Georgia", serif;
  transition: all 2s ease-in-out;
  font-size: 50px;
}

.grow:hover{
  font-size: 450px;
}

.shrink{
  text-align: center;
  font-family: "Georgia", serif;
  transition: all 2s ease-in-out;
  font-size: 50px;
}

.shrink:hover{
  font-size: 2px;
}

.disappear{
  text-align: center;
  font-family: "Georgia", serif;
  transition: all 2s ease-in-out;
  font-size: 50px;
}

.disappear:hover{
  opacity:0;
}

.bleed{
  text-align: center;
  font-family: "Georgia", serif;
  transition: all 2s ease-in-out;
  font-size: 50px;
}

.bleed:hover{
  color: red;
}

/*//////////////KEYFRAMES FISH///////////////*/
#fish {
    background-image:url(../img/animation/green.png);
    background-repeat:no-repeat;
    background-position: -50px -50px;
    background-size: 475px;
    position: relative;
    border:1px solid #CCC;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    text-align: center;
}

#fish:hover{
  color: white;
  opacity: 0.6;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.poem{
  margin-top: 700px;
  font-family: 'Carter One', cursive;
}

h3{
  font-family: 'Carter One', cursive;
}

.fish1{
  background-image:url(../img/animation/green.png);
  background-repeat:no-repeat;
  background-position: middle middle;
  background-size: 200px;
  position: relative;
  display:block;
  height:200px;
  transition: .2s ease-in-out;
  width:350px;
  animation: green1 6s infinite;
}

@keyframes green1
{     0%   {left:-800px; top:500px;}
      40%   {left:0px; top:500px;}
      50%  {left: 0px; top: 500px;}
  100% {left:1800px; top:500px;}
                }

.fish2{
  background-image:url(../img/animation/blue.png);
    background-repeat:no-repeat;
    background-position: middle middle;
    background-size: 200px;
    position: relative;
    display:block;
    height:200px;
    transition: .2s ease-in-out;
    width:350px;
    animation: blue1 6s infinite;
                }

@keyframes blue1{
  0%   {left:-300px; top:900px;}
  50% {left:-300px; top:690px;}
  100% {left: -300px; top: 900px;}
}

.fish3{
  background-image:url(../img/animation/red.png);
    background-repeat:no-repeat;
    background-position: middle middle;
    background-size: 300px;
    position: relative;
    display:block;
    height:400px;
    transition: .2s ease-in-out;
    width:400px;
    animation: red1 5s infinite;
                }

@keyframes red1{
  0%   {left:1800px; top:-600px;}
  50% {left: 0px; top: -600px;}
  70% {left: 0px; top: -600px;}
  100% {left: -800px; top: -600px;}
}


/* Centered text */
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 1px 1px white;
    border: solid black 2px;
    margin-left: 10px;
    margin-top: 10px;
}

.thumbnail {
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}

.gallery{
  margin-left: 400px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textblurb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-500px, -50%);
}

h5{
  color:black;
}

h2{
  font-size: 43px;
  font-family: 'Codystar', cursive;
  color: lightyellow;
  font-weight: bold;
  display: inline-block;
  text-shadow: 1px 1px black;
}

.desc{
  font-family: 'Georgia', serif;
  text-align: left;
}

#saveForm{
  font-family: 'Georgia', serif;
}

/*///////////////////////BIO/////////////////////////*/
.profilepicture {
    background-image:url(../img/pp3.png);
    background-repeat:no-repeat;
    background-position: left top;
    background-size: 300px;
    position: relative;
    height:300px;
    width:300px;
}

.blurb{
  text-align: center;
  padding-left: 5px;
  margin-top: 40px;
}
